/*header*/

header {
    font-style: Roboto Mono for Powerline;
    display: flex;
    text-align: left;
    // position: fixed;
    width: 100%;
    padding: 4% 0 0 6%;
    z-index: 10;
    position: absolute;
    
    @include tab {
        position: fixed;
        min-width: 768px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: #fff;
    }
    @include sp {
        min-width: 320px;
    }
}

.hd-title {
    font-size: 3.8rem;
    letter-spacing: 3.8px;
    color: $black;
    @include tab {
        font-size: 2.2rem;
    }
}
nav {
    font-size: 1.8rem;
    color: $gray;
    @include tab {
        display: none;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items:center;
        @include tab {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            line-height: 7;
            margin-top: 15%;
            @include sp {
                line-height: 6;
            }
        }
        li {
            padding-top: 15px;
            text-align: center;
        }
        a {
            margin-left: 20px;
            display: inline-block;
            padding-bottom: 4px;
            position: relative;
        }
        a:hover{
            color: black;
        }
    }
}
.line {
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    // padding-bottom: 4px;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scale(0,1);
        transform-origin: center;
        transition: transform .3s;
    }
    &:hover::after{
        transform: scale(1);
    }

}

#hammenu {
    display: none;
    @include tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 14px;
        // margin-right: 10px;
        position: relative;
        span {
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: #3B4043;
            transition: 0.4s;
        &:last-child {
            width: 60%;
        }
        }

    }
}

    
