//変数
$black: #000000;
$gray: #707070;
$copy-font:  "ヒラギノ明朝 Pro", W3, serif;

//mixin

@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
       position: static;
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 568px){
        @content;
    }
}


/*共通*/
html {
    font-size: 62.5%;/*フォントサイズ　10px*/
}

body {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
}

.title {
    font-size: 1.8rem;
    color: #707070;
    font-family: Roboto;
    letter-spacing: 5.4px;
    opacity: 1;
    text-align: left;
    margin-bottom: 11px;
    position: relative;
    display: inline-block;
    &:after {
        margin-left: 22.5px;
        display: inline-block;
        content: "";
        border-top: 1px solid;
        width: 95px;
        margin-right: 1.7rem;
        position: absolute;
        top: 12.5px;
        bottom: 11.5px;
    }

}

.inner {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
    padding: 13% 0 70px;
    max-width: 1282px;
    @include sp {
        padding: 13% 0;
        width: 90%;
    }
}